---
import '../styles/reset.css';
import '../styles/global.css';
import Header from '../components/Header.astro';

interface Props {
  pageTitle: string;
  activeItem: string;
  ogImage?: {
    title: string,
    description: string,
    url: string,
  }
}

const { pageTitle, activeItem, ogImage } = Astro.props;
---
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="generator" content={Astro.generator}>
  <title>{pageTitle}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta property="og:title" content={ogImage?.title ?? 'Juan Vertiz'}>
  <meta property="og:description" content={ogImage?.description ?? 'Portfolio & Blog'}>
  <meta property="og:image" content={ogImage?.url ?? `${Astro.site}assets/images/2025-10-23.jpeg`}>
</head>
<body>
  <Header activeItem={activeItem} />
  <main>
    <h1>{pageTitle}</h1>
    <slot />
  </main>
  <script>
    import '../scripts/menu.js';
  </script>
</body>
</html>
